{% extends "layouts/base.html" %}
{% block content %}

<script>
    $(document).ready( function () {
        getCOAdetails();
    });

    function getCOAdetails(){ 
        console.log("attempting autocomplete");
        $("#batch-search").autocomplete({
        source: "{% url 'lab:coas-autocomplete' %}",
        autoFocus: true,
        select: function(event, ui) {
            $(event.target).val(ui.item.value);
            $.getJSON("{% url 'lab:get-coa-details' %}?code=" + ui.item.value, null,
            function(data){
                console.log(typeof(data.sampling_date));
                $('#batch-no-header').html(data.batch_no);
                $('#sample-header').html(data.brand);
                $('#sampling-date-header').html(data.sampling_date);

                $('#sample').html(data.sample);
                $('#brand').html(data.brand);
                $('#sampling-date').html(data.sampling_date);
                $('#analysis-date').html(data.analysis_date);
                $('#manufacture-date').html(data.manufacture_date);
                $('#expiry-date').html(data.expiry_date);
                $('#batch-no').html(data.batch_no);
                $('#sodium-chloride').html(data.sodium_chloride);
                $('#calcium').html(data.calcium);
                $('#magnesium').html(data.magnesium);
                $('#sulphates').html(data.sulphates);
                $('#alkalinity').html(data.alkalinity);
                $('#iodine').html(data.iodine);
                $('#insoluble-matter').html(data.insoluble_matter);
                $('#moisture').html(data.moisture_content);
                $('#sieve-size').html(data.sieve_size);
                $('#sodium-chloride-eas').html(data.sodium_chloride_eas);
                $('#calcium-eas').html(data.calcium_eas);
                $('#magnesium-eas').html(data.magnesium_eas);
                $('#sulphates-eas').html(data.sulphates_eas);
                $('#alkalinity-eas').html(data.alkalinity_eas);
                $('#iodine-eas').html(data.iodine_eas);
                $('#insoluble-matter-eas').html(data.insoluble_matter_eas);
                $('#moisture-eas').html(data.moisture_content_eas);
                });
            return false;
            }
        });
    }

    function checkEASpecs(){
        var brand_name = ($('#id_brand').val()) ?? (document.getElementById("brand").innerHTML);  //use Nullish coalescing operator
      
        if (brand_name == "BAKERY FINE SALT" || brand_name == 3){
            //console.log("Bakery finesalt");
            $('#eas').toggleClass('hide-onprint');
            $('#sodium-chloride-eas').toggleClass('hide-onprint');
            $('#calcium-eas').toggleClass('hide-onprint');
            $('#magnesium-eas').toggleClass('hide-onprint');
            $('#sulphates-eas').toggleClass('hide-onprint');
            $('#alkalinity-eas').toggleClass('hide-onprint');
            $('#iodine-eas').toggleClass('hide-onprint');
            $('#insoluble-matter-eas').toggleClass('hide-onprint');
            $('#moisture-eas').toggleClass('hide-onprint');
            $('#sieve-size-eas').toggleClass('hide-onprint');
            console.log("Toggle hide on print");
        }
        
    }
</script>

<div class="container">
    
    <page size="A4" style="margin: auto !important; display:block; height:10.5in ; width: 8.2in;" >
    <div class="coa-search-form">
        <form method="post" action="">
            {% csrf_token %}
            <h4>Certificate Create/Print</h4>
            <table  class="table-md table-bordered text-nowrap" style="width: 8.2in !important; text-align: center; margin: auto; font-size: 1.1em;">
                <thead>
                    <tr class="info">
                        <th style="width: 25%;">Batch No.</th>
                        <th style="width: 30%;">Sample </th>
                        <th style="width: 30%;">Date Of Sampling</th>
                        <th style="width: 15%;">Search </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="batch-no-header" aria-readonly="true">&nbsp;</td>
                        <td id="sample-header" aria-readonly="true">&nbsp;</td>
                        <td id="sampling-date-header" aria-readonly="true">&nbsp;</td>
                        <td > <input type="text" placeholder="search" id="batch-search" style = "text-align: center; background-color: white;" /></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div id="print-area" style="display:block; height:10.5in ; width: 8.2in; margin-top: 10px ; background-color: white; box-shadow:0 0 0.5cm  rgba(0,0,0,0.5);">  
        <h3 class="text-center"> <b>KRYSTALLINE SALT LTD.</b></h3>
        <h5 class="text-center"> P.O BOX 63, GONGONI</h5>
        <h4 class="text-center">DEPARTMENT OF QUALITY CONTROL </h4>
        <h4 class="text-center"> <b>CERTIFICATE OF ANALYSIS </b></h4>
        
        <form  method="POST" action="" >
            {{form.media}}
            {{form.errors}}
            {% csrf_token %}
            <table  class="table-md table-bordered table-hover table-minimal" style="display:block; width: 95%; margin: auto;">
                <tbody>
                    <tr>
                        <td class="info text-left" style="font-size: 1.5em; font-weight:300; width: 190px !important;" >Sample</td> 
                        <td id="sample" style="width: 556px; text-align: left; font-size: 1.3em;"> {{form.sample}}</td>
                    </tr>
                    <tr>
                        <td class="info text-left" style="font-size: 1.5em; font-weight:300; width: 190px !important;" >Brand Name</td> 
                        <td id="brand" style="width: 556px; text-align: left; font-size: 1.3em;" > {{form.brand}}</td>
                    </tr>
                    <tr >
                        <td class="info text-left" style="font-size: 1.5em; font-weight:300;">Date of Sampling </td> 
                        <td id="sampling-date" style="width: 556px; text-align: left; font-size: 1.3em;">{{form.sampling_date}} </td>
                    </tr>
                    <tr>
                        <td class="info text-left" style="font-size: 1.5em; font-weight:300;">Date of Analysis</td> 
                        <td id="analysis-date" style="width: 556px; text-align: left; font-size: 1.3em;"> {{form.analysis_date}} </td>
                    </tr>
                    <tr>
                        <td class="info text-left" style="font-size: 1.5em; font-weight:300;">Date of Manufacturing </td> 
                        <td id="manufacture-date" style="width: 556px; text-align: left; font-size: 1.3em;"> </td>
                    </tr>
                    <tr>
                        <td class="info text-left" style="font-size: 1.5em; font-weight:300;">Date of Expiry </td> 
                        <td  id="expiry-date" style="width: 556px; text-align: left; font-size: 1.3em;"></td>
                    </tr>
                    <tr>
                        <td class="info text-left" style="font-size: 1.5em; font-weight:300;">Batch No </td> 
                        <td id="batch-no" style="width: 556px; text-align: left; font-size: 1.3em;">{{form.batch_no}}</td>
                    </tr>
                </tbody>
            </table>
            <div style="margin-top: 50px !important;">
            <table class="table-sm table-bordered text-nowrap" style="width:95%; text-align: center; margin:auto; font-size: 1.3em;" >
                <tbody> 
                    <tr class="info">
                        <th>SI No.</th>
                        <th>Parameters</th>
                        <th>Results</th>
                        <th id="eas">E.A.S Specification</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td style="text-align: left;">Moisture Content % by mass</td>
                        <td id="moisture" > {{form.moisture}} </td>
                        <td id="moisture-eas"> 3Max </td> 
                    </tr>
                     <tr>
                        <td>2</td>
                        <td style="text-align: left;">Chloride as NaCl % by mass</td>
                        <td id="sodium-chloride" >{{form.chloride}}</td> 
                        <td id="sodium-chloride-eas"> 97Min </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td style="text-align: left;">Calcium as Ca++ % by mass</td>
                        <td id="calcium" > {{form.calcium}} </td>
                        <td id="calcium-eas"> 0.1Max </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td style="text-align: left;">Magnesium as Mg++ % by mass</td>
                        <td id="magnesium" > {{form.magnesium}} </td>
                        <td  id="magnesium-eas"> 0.1Max </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td style="text-align: left;">Sulphates as S04- % by mass</td>
                        <td id="sulphates" >{{form.sulphates}} </td>
                        <td id="sulphates-eas"> 0.5Max </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td style="text-align: left;">Alkalinity as Na2CO3  % by mass</td>
                        <td id="alkalinity" > {{form.alkalinity}} </td>
                        <td id="alkalinity-eas"> 0.1Max </td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td style="text-align: left;">Water Insoluble matter(IR) % by mass</td>
                        <td id="insoluble-matter"> {{form.insoluble_matter}} </td>
                        <td id="insoluble-matter-eas"> 0.2Max </td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td style="text-align: left;">Iodine mg/Kg</td>
                        <td id="iodine" > {{form.iodine}} </td>
                        <td id="iodine-eas"> 30mg/Kg(min) - 60mg/Kg(max) </td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td style="text-align: left;">Sieve Size (-1mm)</td>
                        <td id="sieve-size" > {{form.sieve_size}} </td>
                        <td id="sieve-size-eas"> At least 85% of product shall pass through </td>
                    </tr>
                </tbody>
            </table> 
            </div>
            <div style="margin-top: 50px !important; ">
                <table style="width:95%; margin:auto;">
                    &nbsp;
                    <tfoot>
                        <tr style=" font-size: 1.2em;" >
                            <td class="text-right" style="vertical-align: top !important; font-weight: 600;">Caveat:</td>
                            <td colspan="3" class="text-left" >This certificate is issued on the basis of information available from our Quality Control Department with the authority as at the certificate date mentioned above. The Company reserves the right to withdraw the certificate if necessary.</td>
                            
                        </tr>
                    
                        <tr style=" font-size: 1.2em;">
                            <td class="text-right" style="vertical-align: top !important; font-weight: 600;">Disclaimer:</td>
                            <td colspan="3" class="text-left" >This certificate is system generated and therefore does not require signature. You may confirm validity of this certificate by contacting us through: TEL:041-2226425 / 2226443 / 2314393 </td>
                            
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div id="button-area" style="margin-top: 11.5px !important;">
            <table style="border: none !important; margin: auto;">
                <tbody>
                    <tr>
                        <td colspan="100" style="text-align: center !important; ">
                            {% if user.is_staff %}
                            <input  class="btn btn-success btn-form"  type="submit" name="submit" value="Add "style="border-radius: 2.5px !important;" />
                            {% endif %}
                            <a class="btn btn-primary btn-form" style="color: white;" onclick="printCOA()"> Print </a>
                            <a class="btn btn-danger btn-form"   href="{% url 'home' %}" > Cancel </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </form>
    </div>  
    </page>  
</div>

<script>
    function printCOA(){
        checkEASpecs(); //adds i.e toggles hide
        window.print();
        checkEASpecs(); //removes i.e toggles hide
    }
</script>
{% endblock %}