{% extends 'layouts/base-new-1.html' %}
{% block content %}

<!-- <div class="coa-list-div" style="min-width: 870px !important; margin:auto !important; padding: 2px !important; margin-top:10px !important ;"> -->
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="main-inner-content" >
            <div class = "container-fluid" style=" padding: 0px !important;margin-left: 0px !important; margin-bottom: 100px !important; overflow-x: scroll !important;">
                {% if table  %}
                    <div class="coa-div" style="overflow-y: auto !important; margin-left: 0px !important ; margin-top: 14px !important;">
                        <h5  class="text-left" style="margin-bottom: 2px !important; width:500px !important; float: left !important;"><i class="fa fa-certificate"></i> <span>COA Certificates</span></h5>
                        <form method="get" action="" class="form form-inline" style=" margin-bottom: 1.5px !important;">
                            {% csrf_token %}
                            <table class="coa-filter-table" >
                                <tr>
                                    <td>{{filter.form.batch_no}}</td>
                                    <td>{{filter.form.brand}}</td>
                                    <td>{{filter.form.sampling_date}}</td>
                                    <td>
                                        <input class="btn btn-outline-secondary btn-sm" style="width:100px !important; margin-left: 0px !important; border: 0.7px solid #464c53!important; background-color: #50565e; color: white; border-radius: 0.2rem !important;" type="submit" value="Filter" />
                                    </td>
                                </tr>
                            </table>
                        </form>
                        {% load django_tables2 %}
                        {% render_table table %} 
                    </div>
                    {% if user.is_staff %}
                        <div {% if table  %} style="position: absolute !important; margin-left: 0px !important; margin-top: -50px!important;" {% endif %}>
                            <a href="{% url 'lab:coa-create-multiple' %}" class="text-left" style="margin-left: 0px !important; "><button class="btn btn" style="color: green !important; " ><strong><span class="fa fa-plus"></span>&nbsp;Add COA</strong></button></a>
                        </div>
                        <div style="position: absolute !important; right: -10px !important; margin-top: -50px!important; display: none;">
                            <table>
                                <tr>
                                    <td><button onclick="changePageSize(10)">10 items per page</button></td>
                                    <td><button onclick="changePageSize(20)">20 items per page</button></td>
                                    <td><button onclick="changePageSize(30)">30 items per page</button></td>
                                </tr>
                            </table>
                        </div>
                    {% endif %}
                
                {% else %}
                    <div style="margin-top: 30px !important;">
                        <table style="width: 100%;">
                            <tbody>
                                <tr>
                                    <td style="font-size: 14px !important;">No Matching COA Entries</td>
                                </tr>
                            </tbody>
                        </table>
                        {% if user.is_staff %}
                            <div >
                                <a href="{% url 'lab:coa-create-multiple' %}" class="text-left" style="margin-left: 0px !important; "><button class="btn btn" style="color: green !important; " ><strong><span class="fa fa-plus"></span>&nbsp;Add COA</strong></button></a>
                            </div>
                        {% endif %}
                    </div> 
                {% endif %}

            </div>
        </div>
    </div>  
</div>

<script type="text/javascript">
    function changePageSize(size) {
        console.log("Attempting dynamic pagination");
        var url = window.location.href;
        var params = urlencode({
            'page_size': size
        });
        window.location.href = url + '?' + params;
    }
</script>
{% endblock%}
