{% extends "layouts/base.html" %}
{% block  content %}
<div class="container-fluid" >
    <div class="col-lg-12" style="margin: 0px !important;">
        <div class="main-inner-content"  > 
            <!-- <h5 class="text-left" style="margin-left: 270px !important;">Daily Report {{date}} </h5>  -->
                <div style="margin-top: 20px !important; width: 870px !important; "> <!--margin: auto;-->
                        <form method="post" action=" "  >
                            {% csrf_token %}
                            <table style="border: 0px solid; border-radius: 2px !important; max-width: 100px !important; float: left !important; font-size: 1.1em;">
                                <tr>
                                    <td style="font-weight: 300;">Gate:</td>
                                    <td class="text-center"><a href="">1</a></td>
                                    <td class="text-center"><a href="">2</a></td>
                                    <td class="text-center"><a href="">3</a></td>
                                    <td class="text-center"><a href="">4</a></td>
                                    <td class="text-center"><a href="">5</a></td>
                                    <td class="text-center"><a href="">6</a></td>
                                </tr>
                            </table>
                            <table style="border: 0px solid; border-radius: 2px !important; max-width: 100px !important; float: right !important;">
                                <tr>
                                    <td class="text-right" style="font-weight: 300;">Date: </td>
                                    <td>{{form.date}} </td>
                                    <td><input class="btn btn-success" type="submit" value="submit" name="submit" style="border-radius: 3px !important; line-height: 0.7rem !important;" /></td>   
                                </tr>
                            </table>
                        </form>
                </div>
                <div class="tableFixHead" >  <!--style="margin: auto !important;"-->
                    <table class="table table-sm table-bordered  table-striped table-hover rounded-corners " style="border-collapse: collapse !important; width: 870px !important; margin: auto !important;font-size:0.85rem !important; line-height: 0.88rem !important;"> <!--max-width: 100% !important;-->
                    <thead class="thead-light thead-sticky" >
                        <tr style="font-size: 1.1em; line-height: 0.8rem !important; " >
                            <th colspan="2" style="color: #007bff !important;"></th>
                            <th colspan="2" style="color: #007bff !important;">50kg</th>
                            <th colspan="2" style="color: #007bff !important;">25kg</th>
                            <th colspan="2" style="color: #007bff !important;">20kg</th>
                            <th colspan="2" style="color: #007bff !important;">6kg</th>
                            <th colspan="2" style="color: #007bff !important;"></th>
                        </tr>
                    
                    </thead>
                    <tbody>
                        <tr class="tbody-sticky" style="background-color:#e9ecef !important;">
                            <th colspan="2">Time</th>
                            <th>No. Bales</th>
                            <th>Weight(kg)</th>
                            <th>No. Bales</th>
                            <th>Weight(kg)</th>
                            <th>No. Bales</th>
                            <th>Weight(kg)</th>
                            <th>No. Bales</th>
                            <th>Weight(kg)</th>
                            <th colspan="2"> Total(kg) </th>
                        </tr>
                        {% for detail in details %}
                        <tr>
                            {% for key, value in detail.items %}
                            <td colspan="2" style="font-weight: 0 !important;">{{key}}</td>
                                {% for item in value.0 %}
                                    {% for k, v in item.items %}
                                        {% for x in v%}
                                        <td>{{x}}</td>
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                                <td colspan="2" style="font-weight: 400;">{{value.1}}</td>
                            {% endfor %}
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot  class="tfoot-sticky" style="color: #094381 !important; background-color: #dee2e6;">
                        <tr>
                            <td colspan="10" class="text-right">{{date}} Loading Total &nbsp;</td>
                            <!-- <td id="daily-50-count"></td>
                            <td id="daily-50-tweight"></td>
                            <td id="daily-25-count"></td>
                            <td id="daily-25-tweight"></td>
                            <td id="daily-20-count"></td>
                            <td id="daily-20-tweight"></td>
                            <td id="daily-6-count"></td>
                            <td id="daily-6-tweight"></td> -->
                            <td id="daily-tweight-total"> {{dailyWeightTotal}}</td>
                        </tr>
                    </tfoot>
                    </table>
                </div>
        </div>
    </div>
</div>

{% endblock %}